.DS_Store
.classpath
.project
gen
webapi/apk/*
webapi/bin/*
webapi/build/*
webapi/datas/*
webapi/dist/*
webapi/faune.egg-info/*
webapi/include/*
webapi/lib/*
webapi/local/*
webapi/share/*
webapi/faune/settings_local.py