WSGIScriptAlias /synchronomade /path_to_webapi/main/wsgi.py
WSGIPythonPath /path_to_webapi/lib/python2.7/site-packages
<Directory /path_to_webapi/main/>
    <Files wsgi.py>
        Order deny,allow
        Allow from all
        #for apache version >=2.4 only
        Require all granted
    </Files>
</Directory>
